.container {
    background-color: rgb(214, 195, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*border*/
    border-style: solid;
    border-radius: 30px;
    outline-style: double;
    /*margin padd*/
    margin-top: 110px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 50px 150px;
}


/*giriş yapınız kısmı*/

.container h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
}

.container #forget {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 30px;
    /*üzerindeki tık işareti*/
    cursor: alias;
    text-decoration: underline;
    text-align: justify;
}

.container #forget:hover {
    color: white;
}


/*buton kısmı*/

.container .btn {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
    padding: 8px 20px;
}

.container .btn:hover {
    background-color: rgb(60, 28, 85);
    color: white;
}


/*isim soy isim şifre*/

.container .form-group {
    margin-top: 15px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.container .form-group .form-control {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-radius: 5px;
}

.container .form-group .form-control:hover {
    border-color: white;
}